---
layout: page
---

<div class="home">

    <h1 class="post-title"><a href="{{site.posts[0].url}}">{{site.posts[0].title}}</a></h1>

    <div style="font-style: italic; font-size: small; text-align: right">
    {% if site.posts[0].author %}
        Written by {{site.posts[0].author}}
        <br>
        {% if site.posts[0].editor %}
        Edited by {{site.posts[0].editor}}
        <br>
        {% endif %}
    {% endif %}

    Published on {{ site.posts[0].date | date: "%b %-d, %Y" }}

    {% if site.posts[0].category %}
    <br>
    Topic: {{site.posts[0].category}}
    {% endif %}
    </div>

    <hr>
    <br>
    
    <div>
        {{site.posts[0].content}}
    </div>

    <div class="fb-like" data-href="{{site.url | append: site.posts[0].url}}" data-layout="standard" data-action="like"
         data-size="large" data-show-faces="true" data-share="true"></div>
    <br>
    <hr>
</div>
