---
layout: page
---
    <div class="content col-md-8 full">
        {{content}}
    </div>
    <div id="sidebar" class="sidebar_about_me about-sidebar col-md-4 full">
        <section class="sidebar_about_me">
            <a href="/{{site.my_images_path}}/Team1675_MentorHeadshots-106.png">
                <img id="my_image" src="/{{site.my_images_path}}/Team1675_MentorHeadshots-106.jpg" class="img-rounded" />
            </a>
            <div>
                <p id="note" style="text-align: center">
                    Computer Scientist, Mentor, Machinist
                </p>
            </div>
        </section>
        <span class="dashed"></span>

        <section class="sidebar_social" style="text-align: center">
            <a class="twitter-follow-button" href="https://twitter.com/sosheskaz">Follow @sosheskaz</a>
            <br>
            <a href="https://www.linkedin.com/pub/eric-miller/7b/344/862">

                <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Eric Miller's profile on LinkedIn">

            </a>
        </section>

        <br>

        <section class="sidebar_latest_post text_good_2">
            Links
            <hr>
            <a href="http://www.mkeroboco.org/">Milwaukee Robotics Coalition</a>
            <br>
            <a href="http://www.team1675.net/">Team 1675</a>
        </section>
    </div>