---
layout: page
---
    <div class="content col-md-8 full">
        {{content}}
    </div>
    <div id="sidebar" class="sidebar_about_me about-sidebar col-md-4 full">
        <section class="sidebar_about_me">
            <div>
                <p id="note" style="text-align: center">
                    Software Engineer, Webcomics Guru, TV Enthusiast, Jinja2 Ninja, FreeBSD Freedom-Fighter,
                    Python Pirate, rc.d Rockstar.
                </p>
            </div>
        </section>

        <span class="dashed"></span>

        <section class="sidebar_latest_post text_good_2">
            <h3>Stuff I Like</h3>

            <a href="http://www.threepanelsoul.com">[Comic] Three Panel Soul (Matthew Boyd)</a>
            <br>

            <a href="https://www.samandfuzzy.com">[Comic] Sam and Fuzzy (Sam Logan)</a>
            <br>

            <a href="https://www.stilldrinking.org">[Writing] Still Drinking (Peter Welch)</a>
            <br>

            <a href="http://www.scp-wiki.net">[Writing] Secure. Contain. Protect.</a>
            <br>

            <a href="http://teamfourstar.com">[Video] Team Four Star</a>
            <br>

            <a href="https://www.youtube.com/channel/UC3KEoMzNz8eYnwBC34RaKCQ">[Video] Simone Giertz</a>
        </section>
    </div>
