---
layout: page
---
<div id="Post" class="Post text_good_2">
    <article class="Article">
        <h1 class="post-title"><a id="post_link" class="post_link" href="{{ page.url }}">{{ page.title }}</a></h1>
        <hr>
        <br>
        {{ content }}
    </article>

    <br />

    <p>
    <div class="fb-like col-md-12" data-href="{{site.url | append: page.url}}" data-layout="standard" data-action="like"
         data-size="large" data-show-faces="true" data-share="true"></div>
    </p>
    <br>
</div>
