---
layout: page
---
<div id="Post" class="Post text_good_2">

    <article class="Article">
        <div style="font-style: italic; font-size: small; text-align: right">
            {% if page.author %}
                Written by {{page.author}}
                <br>
                {% if page.editor %}
                    Edited by {{page.editor}}
                    <br>
                {% endif %}
            {% endif %}

            Published on {{ page.date | date: "%b %-d, %Y" }}

            {% if page.category %}
            <br>
            Topic: {{page.category}}
            {% endif %}
        </div>

        <hr>
        <br>

        {{ content }}
    </article>

    <br />

    <p>
    <div class="fb-like col-md-12" data-href="{{site.url | append: page.url}}" data-layout="standard" data-action="like"
         data-size="large" data-show-faces="true" data-share="true"></div>
    </p>
    <br>
</div>
