---
layout: page
---
<div id="Post" class="Post text_good_2">

    <article class="Article">
        <div style="font-style: italic; font-size: small; text-align: right">
            {% if page.author %}
                Written by {{page.author}}
                <br>
                {% if page.editor %}
                    Edited by {{page.editor}}
                    <br>
                {% endif %}
            {% endif %}

            Published on {{ page.date | date: "%b %-d, %Y" }}

            {% if page.category %}
            <br>
            Topic: {{page.category}}
            {% endif %}
        </div>

        <hr>

        {{ content }}
    </article>
</div>
